body{
    font-family: Roboto, sans-serif;
}

#navbar{
    background-color: #04911e;
    color: white;
    box-shadow: darkgray 3px 3px 5px;
}

#park, #retrieve {
    border: 1px black solid;
}

button {
    background-color: #04911e;
    color: white;
}

#instructions, #map, #directions {
    box-shadow: darkgray 3px 3px 5px;
    border: 1px black solid;
}

#gotIt {
    border: 1px black solid;
}
